# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual environments
# =========================
.env
.venv/
venv/
ENV/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Data & outputs
# =========================
data/
results/

# =========================
# Logs & temp files
# =========================
*.log
*.tmp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/